.auth-container {
    max-width: 400px;
    margin: 80px auto !important;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
    border: solid 1px #ccc;

  }
  
  .auth-form input {
    width: 70%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .auth-form button {
    width: 76%;
    padding: 12px;
    margin-top: 12px;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .auth-form button:hover {
    background-color: #0056b3;
  }
  
  .link-button {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    padding: 6px;
    transition: color 0.2s ease;
  }
  
  .link-button:hover {
    color: #0056b3;
    text-decoration: underline;
  }
  
  .title-login{
    color: #333;
  }

  @media (max-width: 680px) {
    .auth-container {
      margin: 60px 10px !important;
    }
  }