.auth-container {
  max-width: 400px;
  margin: 60px auto;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  text-align: center;
}

.auth-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.auth-subtitle {
  font-size: 20px;
  margin-bottom: 25px;
  color: #333;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.auth-form input {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 94%;
}

.auth-form button {
  background-color: #007bff;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;

}

.auth-form button:hover {
  background-color: #0056b3;
}

.success {
  color: green;
  margin-top: 15px;
}

.error {
  color: red;
  margin-top: 15px;
}

.link-btn {
  background: none;
  border: none;
  color: #007bff;
  text-decoration: underline;
  margin-top: 20px;
  cursor: pointer;
  font-size: 14px;
}

.link-btn:hover {
  color: #0056b3;
}
